@font-face {
    font-family: titillium;
    src: url(./font/Titillium.ttf)
}


@font-face {
    font-family: oswald;
    src: url(./font/Oswald.ttf);
}



* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;

}

html {
    font-family: titillium;
    font-size: 62.5%;
    margin: 0 4rem;
}

body {
    font-size: 1.6rem;
}

a {
    color: black;
}

header {

    background-color: #f0f0f075;
    padding-top: 20px;
    text-align: center;

    #titleConnect {
        .logoTitle {
            img {
                margin-bottom: 20px;
                color: black;
                width: 50px;
                height: 50px;
                min-height: 50px;
                min-width: 50px;
            }

            h1 {
                font-size: 5vw;
                margin: 1rem 0;
            }
            @media (min-width: 600px){
                img{
                    margin-right: 20px;
                }
                align-items: center;
                display: flex;
            }
        }

        @media (min-width: 600px){
            justify-content: space-between;
            display: flex;
            align-items: center;
        }
    }

    .connect {
        margin: 1em;
        a {
            border-radius: 50px;
            padding: 1rem 2.5rem;
            background-color: #fa2;
            font-size: 20px;
            color: white;

            &:hover {
                background-color: #fca;
                color: black;
            }
        }

    }

    .hiddenConnect {
        display: none;
    }

    #search {
        form {
            input[type="text"] {
                padding-left: 20px;
                font-size: 16pt;
                outline: none;
                border: none;
                width: 350px;
                height: 50px;
            }

            input[type="submit"] {
                font-size: 10pt;
                border: none;
                outline: none;
                width: 100px;
                height: 50px;
                background-color: #fa2;
                color: white;
                text-transform: uppercase;
                font-family: oswald;

                &:hover {
                    background-color: #fca;
                }
            }
        }

        ul {
            justify-content: center;
            display: flex;
            margin: 1rem;

            li {
                font-size: 16pt;
                padding: 0 1rem;
                list-style: none;

                &:hover {
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    font-weight: 800;

                }
            }
        }
        @media (min-width: 600px){
            justify-content: space-between;
            display: flex;
            margin-bottom: 20px;
        }
    }

    border-bottom: 2px solid black;
}